.btn {
    border: solid 1px transparent;
    font-weight: $font-medium;
    text-decoration: none;
    transition: all .4s ease-in;
    padding: 0.5rem 1.5rem;

    &--lg {
        padding: 0.5rem 2.5rem;
        font-size: $text-base;
        
        @media (min-width: 1024px) {
            padding: 0.75rem 2.5rem;
            font-size: $text-lg;
        }
    }

    &--color {
        &-white {
            border-color: $white;
            color: $white;

            &:hover {
                background-color: $white;
                color: $primary;
                transition: all .4s ease-out;
            }
        }
    }

    &--floating {
        box-shadow: 1px 1px $white, 2px 2px $white, 3px 3px $white, 4px 4px $white, 5px 5px $white, 6px 6px $white, 7px 7px $white, 8px 8px $white;
        transform: translateX(-8px) translateY(-8px);

        &:hover {
            box-shadow: none;
            transition: all .4s ease-out;
        }
    }

    &--social {
        width: 30vw;
        fill: currentColor;
        
        @media (min-width: 1024px) {
            width: 180px;
        }

        &-white {
            color: $white;

            &:hover {
                color: $gray-500;
                transition: all .4s ease-out;
            }
        }
    }
}