// Base colors
$white: #ffffff;

$blue-500: #155268;
$blue-600: #0a2239;
$blue-700: #091c2f;
$blue-800: #06121e;

$gray-500: #aeaeae;

// Global colors
$bg-gradient: linear-gradient(-184deg, $blue-700 11%, $blue-600 98%);
$bg-solid: $blue-700;
$font-color: $white;
$primary: $blue-600;
