*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: $font-family-quicksand;
  color: $font-color;
  min-height: 100vh;
  overflow-x: hidden;
}